<form class="myForm" name="createForm" novalidate>
    <h3>CREATE PAYMENT</h3>
    <div class="form-group">
        <label for="paymentAmount">Payment amount</label>
        <input type="text" name="paymentAmount" class="form-control" id="paymentAmount" ng-model="Payments.pay.paymentAmount" ng-pattern="/^\-?\d+(\.\d{0,})?$/" required>
        <span ng-show="createForm.paymentAmount.$error.pattern">Incorrect data!</span>
        <span ng-show="createForm.paymentAmount.$error.required">This field is required!</span>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" id="description" ng-model="Payments.pay.description" ng-pattern="/^[a-zA-Zа-яА-Я\-_ \s]+$/" required>
        <span ng-show="createForm.description.$error.pattern">Incorrect data!</span>
        <span ng-show="createForm.description.$error.required" class="help-block">This field is required!</span>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="Payments.addPayment(Payments.pay);Payments.pay = {};Payments.checked = !Payments.checked;" ng-disabled="createForm.$invalid">Create</button>
</form>